name: PR
on:
  - pull_request


jobs:
#  label:
#    name: Label PR
#    runs-on: ubuntu-latest
#    steps:
#    - name: Auto Label Pull Request
#      uses: actions/labeler@v2
#      with:
#        repo-token: "${{secrets.GITHUB_TOKEN}}"
#        configuration-path: .github/actions/pull/labels.yml
#  go-fmt:
#    name: Imports
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@master
#
#      - name: check
#        uses: grandcolline/golang-github-actions@v1.1.0
#        with:
#          run: fmt
#          comment: true
#          token: ${{ secrets.GITHUB_TOKEN }}
#
#  golangci-lint:
#    name: runner / golangci-lint
#    runs-on: ubuntu-latest
#    steps:
#      - name: Check out code into the Go module directory
#        uses: actions/checkout@v1
#      - name: golangci-lint
#        uses: docker://reviewdog/action-golangci-lint:v1
#        with:
#          github_token: ${{ secrets.github_token }}
#          golangci_lint_flags: "--config=.golangci.yml"

  unitTest:
#    needs: [label, go-fmt, golangci-lint]
    name: Unit-Test
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/cache@v1
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-v0-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-v0-


      - name: Run Unit Tests
        run: ./scripts/run-unit-tests.sh ${{github.event_name}} ${{github.base_ref}} ${{github.head_ref}}
